<div class="container-fluid" style="margin-top: 3rem">
<app-toast aria-live="polite" aria-atomic="true"></app-toast>

  <div class="row">
    <div class="col"></div>
    <div class="col d-flex justify-content-center">
     <h2> {{tableTitle}} </h2>
    </div>
    <div class="col d-flex justify-content-center"> <!-- col d-flex justify-content-around-->
        <button class="btn btn-primary" (click)="openModal()"><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Add New         
        </button>
        &nbsp;
        <button class="btn btn-danger" (click)="deleteSelectedOrder()"><i class="fa-regular fa-square-minus"></i>&nbsp;&nbsp;Delete
        </button>
    </div>
  </div>

  <br>


  <div class="d-flex justify-content-center">
    <ag-grid-angular
    #agGrid
    style="width: 80%;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [rowSelection]="rowSelection"
    [editType]="editType"
    [frameworkComponents]="frameworkComponents"
    [domLayout]="domLayout"
    [defaultColDef]="defaultColDef"
    [immutableColumns] = "true"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [context]="context"
    (gridReady)="onGridReady($event)"
    suppressClickEdit
    ></ag-grid-angular>
  </div>


</div>
