<span style="font-size: 1.5em;" *ngIf="isNew == true" (click)="onEditClick()" data-action-type="view" class="text-primary btn-space-10p icon-btn">
  <i class="fa-regular fa-pen-to-square"></i>
</span>
